$purple-primary : #9356DC;
$pink-secondary : #FF79DA;
$green-tertiary : #99E2D0;
$gradiant: linear-gradient(0deg, #9356DC, #FF79DA);
$font-1: "Shrikhand"; 
$font-2: "Roboto"; 
$shadow-25: 0px 3px 8px rgba(0 0 0 / 25%);
$shadow-75: 0px 3px 8px rgba(0 0 0 / 75%);
$mobile: 768px;
$tablet: 1024px;